body {
	font-family: "Lato";
	font-size: 16px;
}
a:focus, button:focus {
	outline: none !important;
}
a:focus {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.no-border {
	border: 0 !important;
}
.container {
	width: 1150px;
}
.header {
	background: #fff;
	border: 0;
	border-radius: 0;
	margin: 40px 0 0 0;
	height: 110px;
	min-height: auto;
}
header {
	position: relative;
	z-index: 100;
}
.header .navbar-nav li {
	padding: 0px 10px;
	line-height: 45px;
	margin-top: 33px;
}
.header .navbar-nav li a {
	padding: 0;
	line-height: 45px;
	color: #000;
	text-transform: uppercase;
	display: block;
}
.header .navbar-nav li a:hover, .header .navbar-nav li a:focus {
	color: #000;
}
.header .navbar-brand {
	height: auto;
	padding: 40px 20px;
}
.header .navbar-nav li.get-a-quote a {
	background: #39b54a;
	font-size: 15px;
	color: #fff;
	padding: 0 20px;
	font-weight: 500;
	margin-left: 20px;
	margin-right: 20px;
}

footer {
	background: rgba(79, 138, 240, 0.7);
	padding: 70px 0 60px 0;
}
footer ul.footer-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
footer ul.footer-nav li {
	color: #fff;
	display: inline-block;
	padding: 0 10px;
}
footer ul.footer-nav li a {
	color: #fff;
	text-transform: uppercase;
}
footer .copy-rights {
	text-align: center;
	color: #fff;
	padding-top: 15px;
	font-size: 12px;
	text-transform: uppercase;
}
footer .copy-rights a {
	text-decoration: underline;
	color: #fff;
}
.banner-home {
	background: #4f8af0;
    height: 800px;
    position: relative;
    margin-top: -185px;
    padding-top: 345px;
    text-align: center;
    background-image:url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
} 
.banner-home h1 {
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	line-height: 65px;
}
.banner-home h2 {
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	line-height: 65px;
}


.services-home {
	padding: 100px 0 0px 0;
}
.services-home .services-box {
	border: 1px solid #ddd;
	position: relative;
	margin-bottom: 50px;
	padding: 35px;
	width: calc(100% - 20px);
	margin-left: 10px;
	cursor: pointer;
}
.services-home .services-box:hover {
	background: #5f5f5f;
}
.services-home .services-box:hover h4 {
	color: #fff;
}
.services-home .services-box:hover p {
	color: #fff;
}
.services-home .services-box h4 {
	font-size: 28px;
	text-transform: uppercase;
	margin: 15px 0 15px 0;
	color: #363636;
	font-weight: 400;
}
.services-home .services-box p {
	font-weight: 300;
	line-height: 23px;
}
.services-home .services-box img {
	position: absolute;
	top: 0;
	right: 0;
}
.common-heading-1 .heading {
	font-size: 40px;
	line-height: 55px;
	color: #959595;
	text-align: center;
}
.common-heading-1 .sub-heading {
	font-size: 17px;
	color: #666;
	margin-top: 20px;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
}
.clients-home {
	padding: 50px 0 0 0;
	display: table;
}
.clients-home .clients-left {
	display: table-cell;
	width: 50%;
	background-image: url(../images/client-bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;  
	background-color: #1b1b1b;
	padding: 120px 100px 80px 100px;
}
.clients-home .clients-left .heading {
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
}
.clients-home .clients-left .clients-list {
	list-style: none;
	padding: 0;
	margin: 60px 0 0 0;
	text-align: center;
}
.clients-home .clients-left .clients-list li {
	display: inline-block;
    margin: 0 25px;
    margin-bottom: 40px;
    width: 160px;
    height: 90px;
    background: #fff;
    line-height: 90px;
}
}
.clients-home .clients-left .clients-list li img {
	display: inline-block;
}
.clients-home .clients-right {
	display: table-cell;
	width: 50%;
	padding:  30px 50px 0 50px;
	background: #f7f7f7;
	vertical-align: top;
}
.clients-home .clients-right .list {
	margin: 60px 0 0px 0;
}
.clients-home .clients-right .list h4 span {
	font-size: 30px;
    text-transform: uppercase;
    color: #363636;
    position: relative;
    top: 7px;
    margin-left: 10px;
}
.clients-home .clients-right .list p {
	margin-top: 20px;
	font-weight: 300;
	line-height: 30px;
}
.common-heading-2 .heading {
	font-size: 32px;
}
.common-heading-2 .sub-heading {
	margin-top: 10px;
	line-height: 26px;
}
.some-projects {
	padding: 80px 0;
}
.some-projects .box-project {
	border: 1px solid #ddd;
	margin-top: 50px;
	width: calc(100% - 20px);
	margin-left: 10px;
}
.some-projects .box-project .image {
	padding: 15px;
	display: block;
}
.some-projects .box-project .client-name {
	background: #363636;
	color: #fff;
	padding: 0 15px;
	line-height: 60px;
	font-size: 18px;
}
.some-projects .box-project p {
	padding: 20px;
	font-weight: 300;
	line-height: 25px;
}
.blogs-home {
	padding-bottom: 80px;
	border-bottom: 1px solid #ddd;
}
.blogs-home .blog-list {
	margin-top: 50px;
}
.blogs-home .blog-list .image {
	background: #ccc;
}
.blogs-home .blog-list .image img {
	width: 100%;
}
.blogs-home .blog-list .bottom-details {
	width: calc(100%);
    margin-left: 0px;
    background:#fff;
    position: relative;
    margin-top: -30px;
    padding: 25px;
}


.blogs-home .blog-list .bottom-details .post-details span {
	display: block;
	font-weight: 300;
	margin-bottom: 5px;
	font-size: 13px;
}
.blogs-home .blog-list .bottom-details .post-details span b {
	font-weight: 400;
}
.blogs-home .blog-list .bottom-details a {
	display: inline-block;
	background:#11ad14;
	color:#fff;
	margin-top: 5px;
	padding: 10px 110px;
	
}
.pricing-home {
	padding: 50px 0;
}
.pricing-home .pricing-box {
	border: 1px solid #ddd;
	margin-bottom: 40px;
	margin-top: 40px;
	width: calc(100% - 30px);
	margin-left: 15px;
}
.pricing-home .pricing-box .price {
	text-align: center;
	padding: 30px 0 0 0;
	height: 75px;
}
.pricing-home .pricing-box .price span {
	color: #959595;
	font-size: 18px;
}
.pricing-home .pricing-box .price span b {
	color: #fc4733;
	font-weight: 600;
	font-size: 20px;
}
.pricing-home .pricing-box .price-type {
	background: #3b7ff2;
	text-align: center;
	height: 85px;
	font-size: 26px;
	text-transform: uppercase;
	color: #fff;
	line-height: 85px;
	margin-bottom: 20px;
	font-weight: 600;
}
.pricing-home .pricing-box .price-details {
	text-align: center;
}
.pricing-home .pricing-box .price-details h4 {
	border-bottom: 1px solid #ddd;
	line-height: 50px;
	color: #666;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
}
.pricing-home .pricing-box .price-details a {
	background: #39b54a;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 40px;
	margin-top: 20px;
	padding: 0 30px;
	line-height: 50px;
}
.testmonials-news {
	background: #eee;
}
.testmonials-news .news-letter {
	height: 340px;
	margin: 100px 0;
	padding: 50px;
	background: #fff;
}
.testmonials-news .news-letter h4 {
	text-transform: uppercase;
	font-size: 27px;
	font-weight: 400;
}
.testmonials-news .news-letter p {
	color: #999;
	line-height: 27px;
	margin: 30px 0;
}
.testmonials-news .news-letter .form-group {
	position: relative;
}
.testmonials-news .news-letter .form-group .form-control {
	height: 50px;
	border-radius: 0;
}
.testmonials-news .news-letter .form-group .btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	text-transform: uppercase;
	font-size: 13px;
	padding: 0 30px;
	border: 1px solid #39b54a;
	background: #39b54a;
	border-radius: 0;
}
.testmonials-news .testmonials-slider {
	height: 340px;
	margin: 100px 0;
	padding: 50px;
	background: #fff;
}
.testmonials-news .testmonials-slider h4 {
	text-transform: uppercase;
	font-size: 27px;
	font-weight: 400;
}
.testmonials-news .testmonials-slider p {
	margin: 20px 0;
	font-style: italic;
	line-height: 27px;
	font-size: 16px;
}
.testmonials-news .testmonials-slider .carousel-control {
	background: none !important;
    bottom: inherit;
    opacity: 1;
    height: 50px;
    width: 50px;
    top: 50px;
    color: #000;
}
.testmonials-news .testmonials-slider .carousel-control span {
	color: #000;
    font-size: 30px;
	font-style: inherit;
	line-height: 40px;
}
.testmonials-news .testmonials-slider .carousel-control.left {
	right: 60px;
	left: inherit;
}
.testmonials-news .testmonials-slider .carousel-control.right {
	right: 30px;
}
.testmonials-news .testmonials-slider span {
	color: #39b54a;
	font-style: italic;
	line-height: 27px;
	font-size: 16px;
}
.banner-inside {
	height: 210px;
	padding: 0;
}
.contact {
	padding: 50px 0 100px 0;
}
.contact .contact-main {
	margin: 40px 0;
	border: 1px solid #ddd;
	width: calc(100% - 30px);
	margin-left: 15px;
}
.contact .contact-main .form-contact {
	padding: 80px 10px;
	display: inline-block;
	width: 100%;
}
.contact .contact-main .form-contact .form-group {
	margin-bottom: 50px;
}
.contact .contact-main .form-contact .form-group .form-control {
	height: 60px;
	font-weight: 300;
	border: 3px solid #ccc;
	border-radius: 0;
	box-shadow: none;
}
.contact .contact-main .form-contact .form-group textarea.form-control {
	min-height: 190px;
	padding-top: 15px;
}
.contact .contact-main .form-contact .form-group .btn {
	height: 60px;
	background: #d347a5;
	border: 1px solid #d347a5;
	color: #fff;
	padding: 0 60px;
	text-transform: uppercase;
	border-radius: 0;
	font-size: 18px;
	font-weight: 600;
}
.contact .contact-main .contact-details {
	padding: 80px 0;
}
.contact .contact-main .contact-details h4 {
	margin: 0 0 30px 0;
}
.contact .contact-main .contact-details h4 span {
	display: block;
	line-height: 30px;
	font-size: 18px;
}
.contact .contact-main .contact-details p {
	font-size: 22px;
}
.contact .contact-main .contact-details h4 a {
	color: #000;
}
.blog-inside {
	padding: 50px 0;
}
.bg-link {
	background: #d347a5;
	border: 1px solid #d347a5;
}
.bg-link:hover, .bg-link:focus {
	background: #d347a5;
	border: 1px solid #d347a5;
}
.load-more {
	line-height: 45px;
	border-radius: 0;
	padding: 0 30px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 50px 0;
	font-size: 16px;
}
.plans-show .heading {
	color: #000;
}
.project-des .project-des-left {
	padding: 80px 20px;
}
.project-des .project-des-left .image {
	height: 525px;
	background: #eee;
}
.social ul {
	list-style: none;
	padding: 30px 0;
	margin: 0;
	text-align: center;
}
.social ul li {
	display: inline-block;
	font-size: 17px;
}
.social ul li a.facebook {
	color: #0f56a3;
}
.social ul li a.instagram {
	color: #8a623a;
}
.social ul li a.twitter {
	color: #50bff5;
}
.social ul li a.pinterest {
	color: #e9425b;
}
.social ul li a.google {
	color: #5db64d;
}
.social ul li a {
	font-size: 22px;
	margin: 0 5px;
}
.project-des .project-des-right {
	padding: 80px 0;
}
.project-des .project-des-right h4 {
	font-size: 35px;
    line-height: 50px;
    font-weight: 400;
}
.project-des .project-des-right h4 a {
	text-decoration: underline;
	color: #000;
}
.project-des .project-des-right h5 {
	font-weight: 400;
	font-size: 13px;
	margin: 20px 0;
}
.project-des .project-des-right h5 a {
	color: #fc4733;
	text-decoration: underline;
}
.project-des .project-des-right p {
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}
.blog-description .contact-main {
	padding: 80px 30px;
}
.blog-description .heading {
	font-size: 52px;
}
.blog-description .blog-nav {
	padding: 25px 0;
	margin-top: 40px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	width: 100%;
}
.blog-description .blog-nav .left-nav {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}
.blog-description .blog-nav .left-nav li {
	display: inline-block;
	line-height: 30px;
}
.blog-description .blog-nav .left-nav li a {
	color: #fc4733;
	text-decoration: underline;
}
.blog-description .blog-nav .left-nav li a.admin {
	color: #000;
}
.blog-description .blog-nav .social {
	float: right;
}
.blog-description .blog-nav .social ul {
	padding: 0;
}
.testmonials-news {
	background-image: url(../images/footer.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.description-top {
	padding: 60px 0 30px 0;
}
.description-top .image {
	height: 425px;
	background: #eee;
}
.description {
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
}
.text-line {
	font-size: 35px;
	font-weight: 100;
	line-height: 55px;
	display: inline-block;
	width: 100%;
	padding: 40px 0 50px 0;
	padding-left: 100px;
}
.comments {
	margin-top: 60px;
	border-top: 1px solid #ddd;
	padding: 60px 0 20px 0;
}
.comments h4 {
	font-family: 'Old Standard TT', serif;
	font-size: 50px;
}
.comments h5 {
	font-size: 17px;
	margin-top: 40px;
}
.comments p {
	margin-bottom: 70px;
	font-size: 16px;
	margin-top: 10px;
	font-weight: 300;
	line-height: 28px;
}
.write-comment h5 {
	font-size: 37px;
}
.write-comment .form-contact {
	margin-left: -15px;
	padding: 60px 0 !important;
}
.write-comment .form-contact .form-control {
	border: 1px solid #ccc !important;
}
.write-comment .form-contact .btn {
	text-transform: inherit !important;
	padding: 0 35px !important;
	font-weight: 400 !important
}
footer {
	background-image: url(../images/footer-inside.jpg);
	background-size: 100%;
}
.some-projects .box-project .image img {
	width: 100%;
}
@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
	.header {
		margin: 15px 0 0 0;
		height: 90px;
	}
	.header .navbar-brand {
		padding: 30px 20px;
	}
	.navbar-inverse .navbar-toggle {
		margin-top: 28px;
	}
	.navbar-inverse .navbar-toggle .icon-bar {
		background: #000;
	}
	.header .navbar-nav li {
		margin: 0;
		padding: 0 20px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		background: #fff;
	}
	.header .navbar-nav li.get-a-quote a {
		margin: 20px 0 20px 0;
		text-align: center;
	}
	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
		background: #fff;
	}
	.banner-home {
		padding-top: 200px;
		margin-top: -180px;
	}
	.banner-home {
		height: auto;
	}
	.banner-home h1 span {
		font-size: 20px;
	}
	.banner-home h1 {
		line-height: 45px;
		font-size: 30px;
	}
	.banner-home h4 {
		margin: 20px 0;
		line-height: 30px;
		font-size: 16px;
	}
	.banner-home ul {
		margin-bottom: 50px;
	}
	.banner-home ul li a {
		margin-bottom: 20px;
	}
	.services-home {
		padding: 15px 0 0 0;
	}
	.services-home .services-box{
		width: 100%;
		margin: 0 0 15px 0;
	}
	.common-heading-1 .heading {
		font-size: 20px;
		line-height: 32px;
	}
	.common-heading-1 .sub-heading {
		font-size: 14px;
	}
	.clients-home {
		display: inline-block;
		width: 100%;
	}
	.clients-home .clients-left {
		width: 100%;
	    padding: 60px 0 30px 0;
	    display: block;
	    float: left;
	}
	.clients-home .clients-right {
		float: left;
		width: 100%;
		padding: 30px 30px 0 30px;
	}
	.clients-home .clients-left .heading {
		font-size: 20px;
	}
	.clients-home .clients-left .clients-list {
		margin-top: 30px;
	}
	.clients-home .clients-left .clients-list li {
		margin: 0 15px 30px 15px;
		width: 140px;
	}
	.clients-home .clients-right .list {
		margin: 0 0 30px 0;
	}
	.clients-home .clients-right .list h4 span {
		font-size: 15px;
		top: 2px;
	}
	.some-projects {
		padding: 30px 15px;
	}
	.common-heading-2 .heading {
		font-size: 20px;
	}
	.some-projects .box-project .image img {
		width: 100%;
	}
	.some-projects .box-project {
		width: 100%;
		margin: 30px 0 0 0;
	}
	.pricing-home {
		padding: 25px 0;
	}
	.pricing-home .pricing-box .price-type {
		height: 70px;
		line-height: 70px;
		font-size: 20px;
	}
	.pricing-home .pricing-box {
		width: 100%;
		margin: 30px 0 0 0;
	}
	.testmonials-news {
		background-image: none;
		padding: 30px 0 0 0;
	}
	.testmonials-news .news-letter {
		height: auto;
		margin: 0;
		padding: 25px;
	}
	.testmonials-news .testmonials-slider {
		height: auto;
		margin: 30px 0;
		padding: 25px;
	}
	.testmonials-news .news-letter .form-group .btn {
		position: static;
		margin-top: 20px;
	}
	.testmonials-news .testmonials-slider .carousel-control {
		top: 28px;
	}
	footer {
		background-repeat: inherit;
		background-color: none;
	}
	footer ul.footer-nav li a {
		line-height: 32px;
	}
	.contact .contact-main {
		padding: 0;
	}
	.project-des .project-des-left {
		padding: 20px 0;
	}
	.project-des .project-des-right {
		padding: 20px 0;
	}
	.contact {
		padding: 30px 0 0 0;
	}
	.contact .contact-main {
		margin-bottom: 30px;
	}
	.contact .contact-main .form-contact {
		padding: 15px 0;
	}
	.contact .contact-main .form-contact .form-group {
		padding: 0 0px;
		margin-bottom: 15px;
	}
	.contact .contact-main .contact-details {
		padding: 0;
	}
	.blog-description .contact-main {
		margin-top: 0;
	}
	.blog-description .heading {
		font-size: 21px;
    	padding-top: 20px;
	}
	.blog-description .blog-nav {
		margin-top: 20px;
	}
	.blog-description .blog-nav .left-nav, .blog-description .blog-nav .social {
		width: 100%;
		text-align: center;
	}
	.blog-description .blog-nav .social {
		margin-top: 15px;
	}
	.description-top {
		padding-top: 30px;
	}
	.description {
		margin-top: 20px;
	}
	.text-line {
		font-size: 22px;
		line-height: 35px;
		padding: 0;
	}
	.comments h4 {
		font-size: 35px;
	}
	.write-comment .form-contact {
		margin-left: 0;
		padding: 20px 0 !important;
	}
	.write-comment h5 {
		font-size: 22px;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1149px) {
	.container {
		width: 100%;
	}
	.clients-home .clients-left .clients-list li {
		width: 140px;
		margin: 0 10px;
	}
	.clients-home .clients-left {
		padding: 50px;
	} 
}
@media only screen and (min-width: 769px) and (max-width: 992px)  {
	.clients-home .clients-left {
		padding: 50px 25px;
	}
	.clients-home .clients-left .clients-list li {
		width: 140px;
	}
	.services-home .services-box h4 {
		font-size: 18px;
	}
}