body{
    background-image: url(images/footer.jpg);
}

    border-collapse:collapse;
    top: 10%;
    position:absolute;
    border-style: solid;
    border-width: 15px;
    width: 100%;
}

table th{
    color:black;
    border:1px solid;
    border-color: #8c8c8c;
    width: 100px;
    height:40px;
    font-size: 18px;
}


table td{
    color:hsl(0, 7%, 7%);
    border:1px solid;
    border-color: #120f0f;
    text-align: center;
    font-size: 16px;
}