/* Full-width input fields */

input[type=text], input[type=password],input[type=date]  {

  padding: 5px;
  margin: 5px 0 0px 5%;
  display: inline-block;
  border: 2px solid  #e0ebeb;
  border-radius: 5px;
  background:  #ffffff;
  font-size: 13px;
  -webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: 5s; /* Safari */
  transition-property: border-radius;
  transition-duration: 2s;
  width: 75%;
}
.small_text{
  width: 25%;
}
.meadium_text{
  width: 45%;
}
.large_text{
  width: 75%;
}
::placeholder {
  font-size: 15px;
  font-style: italic;
}
input[type=text]:focus, input[type=password]:focus,input[type=date]:focus  {
  background-color: #f7f8f9;
  outline: none;
  border-radius: 8px;
}

.labelClass_textBox{
  width: 15%;
  display: inline-block;
  font-size: 13px;
}
.fullWidth{
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}
.outer_textbox{
  margin-top: 22px;

}


/* @media (max-width:600px) {
  .labelClass_textBox{
    width: 100%;
    display: block;
  }
  input[type=text], input[type=password] {
    width: 96%;
    margin-left: 2%;
  }
} */


@media (max-width:600px){
  .labelClass_textBox,.small_text,.large_text,.meadium_text{
    width: 100%;
  }
}
